<button mat-button
        class="sz-close"
        (click)="onClose()"
        color="primary">
    <mat-icon>cancel</mat-icon>
    close
</button>

<sz-form class="sz-flex-column"
         [formGroup]="form">
    <sz-form-group-x class="sz-flex-column"
                     [formControls]="formControls">
    </sz-form-group-x>
</sz-form>

<button mat-button
        (click)="onSave()"
        value="Add Control"
        color="primary">
    <mat-icon>add_circle_outline</mat-icon>
    Save
</button>