:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    // .sz-close {
    //     // align-self: flex-end;
    // }
    button {
        margin: 20px 0px;
        width: 100%;
    }
}