:host {
    flex-direction: column;
    align-items: center;

    width: 100%;

    header.sz-main-header {
        height: 80px;
        background-color: cornflowerblue;
        padding: 0 20px;
        box-sizing: border-box;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
        display: flex;

        .sz-spacer {
            flex: 1 1 auto;
        }

        .sz-nav-list {
            display: flex;
        }

    }

    .container {
        flex-direction: column;
        align-items: center;
        flex: 1 0 auto;
        width: 100%;

        p {
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .sz-form-container {
        display: flex;
        // flex: 1 0 auto;
        justify-content: space-between;
        width: 100%;

        .sz-config-section {
            width: 18%;
            min-width: 150px;
            margin-left: 40px;
            font-size: 10px;
            box-sizing: border-box;
            padding-right:20px;
            // height: 70vh;
            overflow: auto
        }
        .sz-control-section {
            margin-left: 50px;
            width: 78%;
            max-width: 800px;;
        }
    }
}