:host {
    flex-direction: column;
    align-items: center;

    width: 100%;

    header.sz-main-header {
        height: 80px;
        background-color: cornflowerblue;
        padding: 0 20px;
        box-sizing: border-box;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
        display: flex;

        .sz-spacer {
            flex: 1 1 auto;
        }

        .sz-nav-list {
            display: flex;
        }

    }

    .container {
        flex-direction: column;
        align-items: center;
        flex: 1 0 auto;
        width: 100%;

        p {
            color: rgba(0, 0, 0, 0.6);
        }
    }
}