<header class="sz-main-header">
    <div class="sz-brand">Material Form</div>
    <div class="sz-spacer"></div>
    <div class="sz-nav-list">
        <a mat-button
           [matMenuTriggerFor]="menu">Add Form Control</a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item
                    (click)="onMenuItemClick('input')">Input</button>
            <button mat-menu-item
                    (click)="onMenuItemClick('select')">Select</button>
        </mat-menu>
        <a mat-button>Add Form</a>
    </div>
</header>
<div class='sz-split-8'>
    <div class="sz-take-6"
         [formGroup]="mainForm"
         id="draw">
        <app-add-form-control [form]="mainForm" [control]="newControl"></app-add-form-control>
    </div>
    <div class="sz-take-2 sz-flex-column">
        <app-config-form-ui class="sz-flex-column"></app-config-form-ui>
    </div>
</div>

<!-- <button (click)="printForm()">Print</button> -->