/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './theme.scss';

@import '../sahaz/mool/src/mool.theme';

body,
html {
    height: 100vh;
    padding: 0;
    margin: 0;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}